* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/*bottone */
button {
    color: white;
    background-color: rgb(179, 19, 179);
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgb(179, 19, 179);
}

button:hover {
    cursor: pointer;
}

.bottone {
    padding-left: 20px;
}

/*nav*/
nav {
    display: flex;
}

.logo {
    width: 10%;
}

img {
    width: 100%;
}

.left-menu {
    width: 25%;
}

.right-menu {
    width: 50%;
    text-align: right;
}

.menu {
    list-style: none;
}

.menu li {
    color: lightgray;
    display: inline-block;
    padding-left: 20px;
    vertical-align: -10px;
    position: relative;
}

.menu li:hover {
    color: black;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: lightgray;
}

.menu a:hover {
    color: black;
}

/*SUBMENU*/
.dropdown {
    /*display: none;*/

    background-color: lightseagreen;

    position: absolute;
    top: 0;
    left: 0;
}

.dropdown .menu li {
    display: block;
}